.container {
    border-radius: 25px;
    background: #ffffff;
    padding: 10px;
    width: 55%;
    height: 25%;

}


a {
    font-family: 'Raleway';
    text-decoration: none;
    color: #000000;
    vertical-align: middle;
}

a:link,
a:visited {
    font-family: 'Raleway';
    text-decoration: none;
    color: #000000;
    vertical-align: middle;
}